.basket {
    min-height: calc(100vh - 120px);
    position: absolute;
}

.basket .container {
    margin-bottom: 50px;
}

.basket__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 0px;
}

.basket__title h1 {
    font-weight: bold;
    font-size: 30px;
}

.basket__title p span {
    font-weight: bold;
}

.basket__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.basket__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
}
.basket__delete-all-container {
    text-align: center;
}

.basket__delete-all {
    background-color: #00C65E;
    width: 200px;
    padding: 10px 0px;
    border-radius: 10px;
    color: white;
}




.bCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 108px;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 16px 3px rgba(21, 21, 22, 0.08);
    gap: 10px;
}

.bCard__img img {
    width: 77px;
}

.bCard__category {
    color: #DADCDC;
    font-size: 12px;
}

.bCard__title {
    color: #363A45;
    font-size: 16px;
    font-weight: bold;
}

.bCard__event {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.bCard__nums {
    display: flex;
    gap: 10px;
    align-items: center;
}

.bCard__btn {
    width: 25px;
    height: 25px;
    background: #EFEFEF;
    border-radius: 5px;
}

.bCard__num {
    box-shadow: 1px 2px 16px 3px rgba(21, 21, 22, 0.08);
    width: 40px;
    height: 35px;
    border: 1.5px solid #EFEFEF;
    border-radius: 5px;
    text-align: center;
}

.bCard__num::-webkit-inner-spin-button,
.bCard__num::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.bCard__del {
    cursor: pointer;
}

.bCard__sum {
    color: #363A45;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width:768px) {
    .basket__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
}


@media (max-width:576px) {
    .bCard {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .bCard__nums {
        gap: 2px;
    }
}